body{
    height:100vh;
    margin:0px;
}

.container{
    height:100%;
    display:grid;
    grid-template: "dashboard header" 0.5fr
                    "dashboard content" 1fr / 0.2fr 1fr;

}

.dashboard{
    grid-area: dashboard;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.header{
    grid-area: header;
    display:grid;
    grid-template: "tophalf tophalf" 1fr
                    "bothalf bothalf" 1fr / 1fr 1fr;
}

.bothalf{
    grid-area: bothalf;
}

.tophalf{
    grid-area: tophalf;
}


.content{
    height:100%;
    grid-area: content;
    display:grid;
    grid-template: "cardgrid cardgrid announcements" 1fr
                    "cardgrid cardgrid trending" 1fr / 1fr 1fr 1fr;
}

.cardgrid{
    grid-area: cardgrid;
    display:grid;
    grid-template-rows: repeat(auto-fill, minmax(150px, 30%));
    grid-template-columns: repeat(auto-fill, minmax(100px, 10%));

}

.announcements{
    grid-area: announcements;
}

.trending{
    grid-area:trending;
}